.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1;
    padding: 0.5rem 1rem;
    color: var(--primary-lightgray);
    text-decoration: none;
    background: var(--secondary-black);
    background: linear-gradient(
        to right,
        var(--primary-black),
        var(--primary-gray),
        var(--secondary-gray)
    );
    border: none;
    border-radius: 16px;
}

.button:hover {
    color: var(--primary-blue);
}

.dark {
    color: var(--primary-black);
    background: var(--secondary-white);
    background: linear-gradient(
        to right,
        var(--primary-white),
        var(--primary-lightgray)
    );
}

.active {
    color: var(--primary-blue);
}

.function_button {
    width: 6rem;
}

.number_button {
    width: 2rem;
}

.hidden {
    visibility: hidden;
}

@media (max-width: 768px) {
    .container {
        gap: 1rem;
    }

    .number_button {
        display: none;
    }

    .hidden {
        visibility: visible;
        pointer-events: none;
        opacity: 50%;
    }
}
