.button {
    display: flex;
    align-items: center;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: var(--primary-lightgray);
    text-decoration: none;
    background: var(--secondary-black);
    background: linear-gradient(
        to right,
        var(--primary-black),
        var(--primary-gray),
        var(--secondary-gray)
    );
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
    z-index: 1;
}

.button svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.button span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.button:hover {
    color: var(--primary-blue);
}

.button:hover svg {
    transform: translateX(5px) rotate(90deg);
}

.button:hover span {
    transform: translateX(7px);
}

.dark {
    color: var(--primary-black);
    background: var(--secondary-white);
    background: linear-gradient(
        to right,
        var(--primary-white),
        var(--primary-lightgray)
    );
}
