.button {
    display: flex;
    align-items: center;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: #a7a9ac;
    text-decoration: none;
    background: #22272b;
    background: linear-gradient(to right, #0f1112, #181c1f, #22272b);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
}

.button svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.button span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.button:hover {
    color: #005288;
}

.button:hover svg {
    transform: translateX(5px) rotate(90deg);
}

.button:hover span {
    transform: translateX(7px);
}
