.dropdown {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-size: 1.15rem;
    font-weight: 500;
    padding: 0.8rem 1.3rem;
    color: var(--primary-lightgray);
    background: var(--secondary-black);
    background: linear-gradient(
        to right,
        var(--primary-black),
        var(--primary-gray),
        var(--secondary-gray)
    );
    border: none;
    border-radius: 16px;
    letter-spacing: 0.05rem;
    outline: none;
    cursor: pointer;
}

.dropdown option {
    color: var(--primary-lightgray);
    background: var(--secondary-black);
}

.dropdown:focus {
    color: var(--primary-blue);
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.dark {
    color: var(--primary-black);
    background: linear-gradient(
        to right,
        var(--primary-white),
        var(--primary-lightgray)
    );
}

@media (max-width: 768px) {
    .dropdown {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
}
