.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--primary-white);
    width: 100%;
}

.launch_link {
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;

    text-decoration: none;
    color: inherit;
    width: 100%;
}
