.container {
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.title {
    color: var(--primary-black);
    font-size: 4rem;
    line-height: 1;
}

.info {
    color: var(--primary-black);
    font-size: 1.5rem;
    line-height: 1;
    margin: 1rem;
}

.dark {
    color: var(--primary-white);
    background-color: var(--primary-black);
}
