.container {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 256px 1fr;
    grid-template-rows: auto 1fr 1fr;
    column-gap: 2rem;

    width: 100%;
    height: 180px;

    background: linear-gradient(
        to right,
        var(--primary-black),
        var(--primary-blue)
    );
    border-radius: 8px;
    border: 4px solid var(--primary-black);

    padding: 2rem;

    cursor: pointer;
}

.image {
    width: 256px;
    height: inherit;
    object-fit: cover;

    border-radius: 8px;

    grid-column: 1;
    grid-row: 1 / span 3;
}

.name {
    grid-column: 2;
    grid-row: 1;

    font-size: 1.75rem;
    line-height: 1;
    text-decoration: underline;
}

.details {
    grid-column: 2;
    grid-row: auto;
    opacity: 0.75;
}

.metadata {
    position: absolute;
    text-align: right;
    top: 0;
    right: 2%;
    font-size: 0.75rem;
    color: var(--primary-lightgray);
}

.active {
    color: green;
    font-weight: 900;
}

.inactive {
    color: darkred;
    font-weight: 700;
}
